* {
    box-sizing: border-box;
}


html {
    height: 100%;
    font-size: 15px;
}

@font-face {
    font-family: poppins;
    src: url('fonts/Poppins-Bold.ttf');
}

body {
    min-height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: poppins;
}

.container {
    width: 100%;
    margin: auto;
}

.gray {
    background-color: #0000004F;
    padding-left: 10%;
    padding-right: 10%;
}

.white {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 147px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;


}

.header  {
    max-width: 100%;
    position: relative;
    height: 66.6667rem;
    
}


.item {
    font-weight: 700;
    font-size: 1.1333rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
    padding-right: 2%;
    text-align: left;
}

.diflin {
    font-weight: 700;
    font-size: 1rem;
    padding-top: 2rem;
    text-underline-offset: 1rem;
}

.area {
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    padding-top: 4.2667rem;
    padding-bottom: 4.2667rem;
    padding-left: 15%;
  
}

.navbar-component {
    background-color: transparent;
    
}

.navbar {
    justify-content: space-between;
}


.list {
    display:flex;
   
}



.item {
    display: block;
    height: 4.2667rem;
    line-height: 4.2667rem;
    padding-left: 1.4667rem;
    padding-right: 1.4667rem;
    font-size: 0.875rem;
}

.item.-link:not(.search) {
    line-height: 4.5333rem;
    border-bottom: 0.2667rem solid transparent;
    padding-bottom: 1.4667rem;
}



.item.-link:hover {

    border-bottom-color: #FFFFFF;
}

.icon,
.icon:before,
.icon:after
{
    display: block;
    width: 1.6rem;
    height: 0.2rem;
    background-color: #555555;
    transition: background-color 0.3s linear, transform 0.3s linear;
}

.icon:before,
.icon:after {
    position: absolute;
    content:""
}

.icon:before {
    top: -8px;
}

.icon:after {
    top: 8px;
}

.icon {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.toggle {
    display:none;
    border:0;
    background-color: transparent;
    cursor: pointer;
    padding: 22px;
}

.toggle.active > .icon {
    background-color: transparent;
}

.toggle.active > .icon:before {
    transform: translateY(8px) rotate(45deg);
}

.toggle.active > .icon:after {
    transform: translateY(-8px) rotate(-45deg);
}

.ru {
    color: #FFFFFF80;
    margin-left: 34%;
}


.search {
    background-color: #446CCD;
    align-items: center;
}

.search:hover {
    background-color: #0909af;
}

.border {
    border-top: #FFFFFF 0.1333rem solid;
}

.info {
    max-width: 100%;
    padding-right: 50%;
    padding-top: 5rem;
    
}

.big {
    text-align: left;
    line-height: 600%;
    margin-bottom: -5%;
}

.small {
    text-align: left;
}

h1 {
    font-size: 5.0667rem;
    font-weight: 700;
    color: #FFFFFF;
}

h3 {
    font-size: 2.6rem;
    font-weight: 700;
    color: #060606;
}

h5 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #FFFFFF;

}

h6 {
    font-size: 1.5333rem;
    font-weight: 700;
}

p {
    font-size: 1.2667rem;
    font-weight: 400;
    margin: 0;
}

.gen {
    color: #FFFFFF;
}

.gen2 {
    color: #6C6C6C;
    padding-bottom: 0.8rem
}

.gen3 {
    color: #6C6C6C;
}


.Learn_more {
    background-color: #446CCD;
    margin-top: 3.3333rem;
    margin-bottom: 3.3333rem;
    padding-left: 4.2rem;
    padding-right: 4.2rem;
    padding-top: 1.5333rem;
    padding-bottom: 1.5333rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

.Learn_more:hover {
    cursor: pointer;
    background-color: #0909af;
}

.Services {
    background-color: #446CCD;
    margin-top: 3.3333rem;
    margin-bottom: 3.3333rem;
    margin-left: 12rem;
    padding-left: 2.7333rem;
    padding-right: 2.7333rem;
    padding-top: 1.5333rem;
    padding-bottom: 1.5333rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

.Services:hover {
    cursor: pointer;
    background-color: #0909af;
}


.rectangles {
    display: block;
    width: 100%;
    position: absolute;
    transform: translateY(50%);
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    
    
}

.call-box, .where-box, .hours-box {
    display: flexbox;
    width: 33.3333%;
    float: left;
    padding-top: 4.1333rem;
    padding-bottom: 4.1333rem;
    padding-left: 3.3333rem;
    padding-right: 3.3333rem;
}

.call-box {
    background-color: #385BB2;
    
}

.where-box {
    background-color: #446CCD;
    
}

.hours-box {
   background-color: #F8F8F8;
   
}


.text {
    border-top: #FFFFFF solid 0.0667rem;
    

}

.half-box {
    display: flex;
  
}

.ahalf {
    width: 50%;
    text-align: left;
}

.bhalf {
    width: 50%;
    text-align: right;
}



.phone {
    height: 4rem;
    width: 4rem;
    filter: invert();
    margin-bottom: 1.6667rem;

}

.maininfo {
    margin-top: 20rem;
    float: left;
}

.aaaa {
    float: left;

}

.bbbb {
    color: #6C6C6C;
    float: left;
    padding-left: 4.2667rem;
    margin-right: 0;
    padding-top: 3.3rem;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

.clearfix {
    overflow: auto;
}

.imagination {
    height: 60rem;
}


  



@media all and (max-width: 1800px) {

    .area {
        padding-left: 0;
    }

}






@media all and (max-width: 1640px) {


    a {
        padding-right: 0.5%;
    }


    .ru {
        margin-left: 5%;
    }


}




@media all and (max-width: 1120px) {

    .navbar-component {
        position: absolute;
        width: 90%;
        float: left;  
    }

    .area {
        flex-direction: column;
        
    }

    .list {
        display:none;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .list.active {
        display:flex;
    }

    .item {
        width: 100%
    }
    .search {
        width: 8%;
    }

    .toggle {
        position: absolute;
        right: 0;
        display:block;
    }

    .ru {
        margin: 0;
      

    }

    .info {
        max-width: 100%;
        padding-right: auto;
        padding-top: 5rem;
        
    }


    .info.active {
        margin-top: 35rem;
        padding-bottom: 0;
    }
    
}