
html {
    height: 100%;
}

body {
    min-height: 100%;
    max-width: 1920px;
    margin: 0 auto;

}

.intro {
    display: block;
    font-family: poppins;
    font-weight: 700;
    background-color: #0000004F;
    height: 1200px;
    margin-bottom: 200px;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 100%;
    
}

.navbar {
    max-width: 100%;
}

.links {
    font-family: poppins;
    font-size: 17px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 276px;
    text-align: left;
}

.intro > .nav_bar > .links {
    border-bottom: solid #FFFFFF ;
    padding-bottom: 63px;
}

.intro > .nav_bar > .links > .underline:hover {
    border-bottom: solid #FFFFFF 2px;
    padding-bottom: 7px; 
}

a {
    font-family: poppins;
    color: #FFFFFF;
    margin-right: 50px;
    text-decoration: none;
}

.intro > .nav_bar > .links > .item {
    color: #FFFFFF;
    background-color: #446CCD;
    padding: 23px;
    margin: 0;
}

.intro > .nav_bar > .links > .item:hover {
    color: #FFFFFF;
    background-color: #0909af;
    padding: 23px;
}


.ru_lang {
    color: #FFFFFF80;
    margin-left: 372px;
    margin-right: 26px;
}

.eng_lang {
    margin-left: 0;
    margin-right: 52px;
}

.info {
    padding-right: 841px;
    padding-top: 219px;
}

.intro > .info > .big {
    color: #FFFFFF;
    text-align: left;
    font-size: 76px;
    font-weight: 700;
}

.intro > .info > .small {
    color: #FFFFFF;
    text-align: left;
    font-size: 19px;
    font-weight: 400;
}

p {
    margin: 0;
}

.intro > .info > .Learn_more {
    background-color: #446CCD;
    margin-top: 50px;
    padding-left: 63px;
    padding-right: 63px;
    padding-top: 23px;
    padding-bottom: 23px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
}

.intro > .info > .Learn_more:hover {
    cursor: pointer;
    background-color: #0909af;
}

